*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --bg-color:rgb(40, 37, 37);
    --bg-primary-color:rgb(19, 18, 18);
    --primary-text-color:#f4f4f4;
    --bg-task-color:rgb(70, 66, 66);
    --bg-btn-color:rgb(104, 100, 100);
    --delete-color:rgb(150, 36, 36);
    --border-radius-m:5px;

    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;   
    --padding-xl:20px;
    --padding-xxl:30px;

}
html,body{
    height:100%;
    width:100%;
    
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
background-color:var(--bg-color) ;
color:var(--primary-text-color);


}

main{
    height:100%;
display: flex;
flex-direction: column;

}
nav{
    padding:var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav button{
    background-color: var(--bg-btn-color);
    border:none;
    outline:none;
    cursor:pointer;
    color:var(--primary-text-color);
    padding:var(--padding-m) ;
    border-radius:var(--border-radius-m);
}

section {
    padding:var(--section-padding);
    display:flex;
    flex-grow:1;
    justify-content: space-between;
    background-color: var(--bg-primary-color);
    gap: var(--padding-xxl);


}

section .task-column{
    background-color: var(--bg-color);
flex-grow:1;
display: flex;
flex-direction: column;
    padding: var(--padding-m) var(--padding-s);  
gap: var(--padding-m);
border-radius: var(--border-radius-m);
}

section .task-column.hover-over{
    border:2px dashed white;
    scale:1.02;

}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .task-column  .task{
   background-color: var(--bg-task-color);
    padding: var(--padding-m) var(--padding-l);  
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    cursor:grab;
    padding: var(--padding-s);
}

section .task-column  .task button{
    align-self: flex-end;
    cursor: pointer;
padding: var(--padding-s) var(--padding-m);
border-radius: var(--border-radius-m);
border:none;
outline:none;
background-color: var(--delete-color);
color: var(--primary-text-color);

}

